<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.shop.pin.mapper.PinOrderItemMapper">
  <resultMap id="BaseResultMap" type="cn.edu.neu.shop.pin.model.PinOrderItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="total_cost" jdbcType="DECIMAL" property="totalCost" />
    <result column="order_individual_id" jdbcType="INTEGER" property="orderIndividualId" />
    <result column="is_submitted" jdbcType="BIT" property="isSubmitted" />
  </resultMap>

  <insert id="addOrderItem" parameterType="PinOrderItem" useGeneratedKeys="true" keyProperty="id">
    insert into pin_order_item (
        user_id, product_id, sku_id, amount, total_price, total_cost, order_individual_id, is_submitted
    )
    values (
        #{userId}, #{productId}, #{skuId}, #{amount}, 0.00, 0.00, null, 0
    )

  </insert>

  <update id="addAmountInExistingOrderItem">
    update pin_order_item
    set amount = amount + #{amount},
        total_price = total_price + #{totalPrice},
        total_cost = total_cost + #{totalCost}
    where user_id = #{userId} and sku_id = #{skuId}
  </update>

</mapper>