<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.shop.pin.mapper.PinOrderIndividualMapper">
    <resultMap id="BaseResultMap" type="cn.edu.neu.shop.pin.model.PinOrderIndividual">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_group_id" jdbcType="INTEGER" property="orderGroupId"/>
        <result column="store_id" jdbcType="INTEGER" property="storeId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName"/>
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone"/>
        <result column="delivery_address" jdbcType="VARCHAR" property="deliveryAddress"/>
        <result column="total_product_number" jdbcType="INTEGER" property="totalProductNumber"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="shipping_fee" jdbcType="DECIMAL" property="shippingFee"/>
        <result column="pay_price" jdbcType="DECIMAL" property="payPrice"/>
        <result column="balance_paid_price" jdbcType="DECIMAL" property="balancePaidPrice"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="paid" jdbcType="BIT" property="paid"/>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="refund_status" jdbcType="BIT" property="refundStatus"/>
        <result column="refund_reason_image" jdbcType="VARCHAR" property="refundReasonImage"/>
        <result column="refund_reason_explain" jdbcType="VARCHAR" property="refundReasonExplain"/>
        <result column="refund_apply_time" jdbcType="TIMESTAMP" property="refundApplyTime"/>
        <result column="refund_refuse_reason" jdbcType="VARCHAR" property="refundRefuseReason"/>
        <result column="refund_price" jdbcType="DECIMAL" property="refundPrice"/>
        <result column="delivery_name" jdbcType="VARCHAR" property="deliveryName"/>
        <result column="delivery_type" jdbcType="VARCHAR" property="deliveryType"/>
        <result column="delivery_id" jdbcType="VARCHAR" property="deliveryId"/>
        <result column="gained_credit" jdbcType="INTEGER" property="gainedCredit"/>
        <result column="merchant_remark" jdbcType="VARCHAR" property="merchantRemark"/>
        <result column="user_remark" jdbcType="VARCHAR" property="userRemark"/>
        <result column="is_group" jdbcType="BIT" property="isGroup"/>
        <result column="total_cost" jdbcType="DECIMAL" property="totalCost"/>
        <result column="confirm_receipt_time" jdbcType="TIMESTAMP" property="confirmReceiptTime"/>
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime"/>

    </resultMap>

    <select id="selectByOrderGroupId" resultMap="BaseResultMap">
        select *
        from pin_order_individual
        where order_group_id = #{order_group_id}
    </select>

    <!--  查询近三月的OrderIndividual记录  -->
    <select id="getRecentThreeMonthsOrderIndividuals" resultMap="BaseResultMap">
        select *
        from pin_order_individual
        where create_time > DATE_SUB(CURDATE(), INTERVAL 3 MONTH)
          and user_id = #{userId}
    </select>

    <!-- 根据输入日期 获取该店铺这一天的订单数-->
    <select id="getNumberOfOrder" resultType="INTEGER">
        select count(*) as nums
        from pin_order_individual
        where create_time >= #{fromTime}
          and #{toTime} >= create_time
          and store_id = #{storeId}
    </select>

    <select id="getAllWithProductsByKeyWord" resultMap="AllWithProductsResultMap">
        select OIN.*, OIN.id as oin_id, OIT.*, OIT.id as oit_id, P.*, P.id as p_id
        from pin_order_individual as OIN,
             pin_order_item as OIT,
             pin_product as P
        where OIN.store_id = #{storeId} and OIN.id = OIT.order_individual_id and OIT.product_id = P.id
        and
        (
           OIN.id LIKE CONCAT('%', #{keyWord}, '%')
           OR OIN.receiver_name LIKE CONCAT('%', #{keyWord}, '%')
           OR OIN.receiver_phone LIKE CONCAT('%', #{keyWord}, '%')
           OR OIN.delivery_address LIKE CONCAT('%', #{keyWord}, '%')
           OR OIN.delivery_name LIKE CONCAT('%', #{keyWord}, '%')
           OR OIN.merchant_remark LIKE CONCAT('%', #{keyWord}, '%')
           OR OIN.user_remark LIKE CONCAT('%', #{keyWord}, '%')
        )
    </select>
    <resultMap id="AllWithProductsResultMap" type="PinOrderIndividual">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_group_id" jdbcType="INTEGER" property="orderGroupId"/>
        <result column="store_id" jdbcType="INTEGER" property="storeId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName"/>
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone"/>
        <result column="delivery_address" jdbcType="VARCHAR" property="deliveryAddress"/>
        <result column="total_product_number" jdbcType="INTEGER" property="totalProductNumber"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="shipping_fee" jdbcType="DECIMAL" property="shippingFee"/>
        <result column="pay_price" jdbcType="DECIMAL" property="payPrice"/>
        <result column="balance_paid_price" jdbcType="DECIMAL" property="balancePaidPrice"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="paid" jdbcType="BIT" property="paid"/>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="refund_status" jdbcType="BIT" property="refundStatus"/>
        <result column="refund_reason_image" jdbcType="VARCHAR" property="refundReasonImage"/>
        <result column="refund_reason_explain" jdbcType="VARCHAR" property="refundReasonExplain"/>
        <result column="refund_apply_time" jdbcType="TIMESTAMP" property="refundApplyTime"/>
        <result column="refund_refuse_reason" jdbcType="VARCHAR" property="refundRefuseReason"/>
        <result column="refund_price" jdbcType="DECIMAL" property="refundPrice"/>
        <result column="delivery_name" jdbcType="VARCHAR" property="deliveryName"/>
        <result column="delivery_type" jdbcType="VARCHAR" property="deliveryType"/>
        <result column="delivery_id" jdbcType="VARCHAR" property="deliveryId"/>
        <result column="gained_credit" jdbcType="INTEGER" property="gainedCredit"/>
        <result column="merchant_remark" jdbcType="VARCHAR" property="merchantRemark"/>
        <result column="user_remark" jdbcType="VARCHAR" property="userRemark"/>
        <result column="is_group" jdbcType="BIT" property="isGroup"/>
        <result column="total_cost" jdbcType="DECIMAL" property="totalCost"/>
        <collection property="orderItems" ofType="PinOrderItem">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="user_id" jdbcType="INTEGER" property="userId"/>
            <result column="product_id" jdbcType="INTEGER" property="productId"/>
            <result column="sku_id" jdbcType="INTEGER" property="skuId"/>
            <result column="amount" jdbcType="INTEGER" property="amount"/>
            <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
            <result column="total_cost" jdbcType="DECIMAL" property="totalCost"/>
            <result column="order_individual_id" jdbcType="INTEGER" property="orderIndividualId"/>
            <result column="is_submitted" jdbcType="BIT" property="isSubmitted"/>
            <association property="product" javaType="PinProduct">
                <id column="id" jdbcType="INTEGER" property="id"/>
                <result column="store_id" jdbcType="INTEGER" property="storeId"/>
                <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
                <result column="image_urls" jdbcType="VARCHAR" property="imageUrls"/>
                <result column="name" jdbcType="VARCHAR" property="name"/>
                <result column="info" jdbcType="VARCHAR" property="info"/>
                <result column="keyword" jdbcType="VARCHAR" property="keyword"/>
                <result column="price" jdbcType="DECIMAL" property="price"/>
                <result column="price_before_discount" jdbcType="DECIMAL" property="priceBeforeDiscount"/>
                <result column="unit_name" jdbcType="VARCHAR" property="unitName"/>
                <result column="stock_count" jdbcType="INTEGER" property="stockCount"/>
                <result column="sold_count" jdbcType="INTEGER" property="soldCount"/>
                <result column="is_shown" jdbcType="BIT" property="isShown"/>
                <result column="is_hot" jdbcType="BIT" property="isHot"/>
                <result column="is_new" jdbcType="BIT" property="isNew"/>
                <result column="shipping_fee" jdbcType="DECIMAL" property="shippingFee"/>
                <result column="is_free_shipping" jdbcType="BIT" property="isFreeShipping"/>
                <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
                <result column="credit_to_give" jdbcType="INTEGER" property="creditToGive"/>
                <result column="cost" jdbcType="DECIMAL" property="cost"/>
                <result column="visit_count" jdbcType="INTEGER" property="visitCount"/>
                <result column="description" jdbcType="LONGVARCHAR" property="description"/>
            </association>
        </collection>
    </resultMap>

    <select id="getNumberOfOrderNotShip" resultType="INTEGER">
        select count(*) as nums
        from pin_order_individual
        where status = 0
          and store_id = #{storeId}
    </select>

    <select id="getNumberOfOrderRefund" resultType="INTEGER">
        select count(*) as nums
        from pin_order_individual
        where refund_status = 1
          and store_id = #{storeId}
    </select>

    <update id="updateOrderDeliveryTypeNotExpress">
        update pin_order_individual
        set status = 1, delivery_type = #{deliveryType}, delivery_time = #{deliveryTime}
        where id = #{orderIndividualId}
    </update>

    <update id="updateOrderDeliveryTypeIsExpress">
        update pin_order_individual
        set status = 1, delivery_name = #{deliveryName}, delivery_id = #{deliveryId}, delivery_type = #{deliveryType}, delivery_time = #{deliveryTime}
        where id = #{orderIndividualId}
    </update>

    <update id="updateMerchantRemark">
        update pin_order_individual
        set merchant_remark = #{merchantRemark}
        where id = #{orderIndividualId}
    </update>

    <update id="updateRefundPrice">
        update pin_order_individual
        set refund_reason_image = #{refundReasonImage}, refund_reason_explain=#{refundReasonExplain}, refund_apply_time = #{date}, refund_price = #{refundPrice}, refund_status = 1
        where id = #{orderIndividualId}
    </update>

    <update id="updateRefundSuccess">
        update pin_order_individual
        set refund_status = 2, status = 4
        where id = #{orderIndividualId}
    </update>

    <update id="updateRefundFailure">
        update pin_order_individual
        set refund_status = 2, status = 5, refund_refuse_reason = #{refundRefuseReason}
        where id = #{orderIndividualId}
    </update>

</mapper>