<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.shop.pin.mapper.PinMiniProgramFormIdRecordMapper">
  <resultMap id="BaseResultMap" type="cn.edu.neu.shop.pin.model.PinMiniProgramFormIdRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="wechat_user_id" jdbcType="INTEGER" property="wechatUserId" />
    <result column="form_id" jdbcType="CHAR" property="formId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>