<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.shop.pin.mapper.PinProductMapper">
  <resultMap id="BaseResultMap" type="cn.edu.neu.shop.pin.model.PinProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="image_urls" jdbcType="VARCHAR" property="imageUrls" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="price_before_discount" jdbcType="DECIMAL" property="priceBeforeDiscount" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="stock_count" jdbcType="INTEGER" property="stockCount" />
    <result column="sold_count" jdbcType="INTEGER" property="soldCount" />
    <result column="is_shown" jdbcType="BIT" property="isShown" />
    <result column="is_hot" jdbcType="BIT" property="isHot" />
    <result column="is_new" jdbcType="BIT" property="isNew" />
    <result column="shipping_fee" jdbcType="DECIMAL" property="shippingFee" />
    <result column="is_free_shipping" jdbcType="BIT" property="isFreeShipping" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="credit_to_give" jdbcType="INTEGER" property="creditToGive" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="visit_count" jdbcType="INTEGER" property="visitCount" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>

  <!-- 根据商品ID 获取商品详情-->
  <select id="getProductInfoByProductId"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from pin_product where id = #{productId}
  </select>

  <!-- 根据店铺ID 获取该店铺的所有在售商品-->
  <select id="getProductInfoByStoreId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from pin_product where store_id = #{storeId}
  </select>

  <select id="getHotProducts" resultMap="BaseResultMap">
    select * from pin_product where is_hot = 1
  </select>

</mapper>