<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.shop.pin.mapper.PinProductMapper">
  
  <resultMap id="BaseResultMap" type="cn.edu.neu.shop.pin.model.PinProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="image_urls" jdbcType="VARCHAR" property="imageUrls" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="changedAmount" jdbcType="DECIMAL" property="changedAmount" />
    <result column="price_before_discount" jdbcType="DECIMAL" property="priceBeforeDiscount" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="stock_count" jdbcType="INTEGER" property="stockCount" />
    <result column="sold_count" jdbcType="INTEGER" property="soldCount" />
    <result column="is_shown" jdbcType="BIT" property="isShown" />
    <result column="is_hot" jdbcType="BIT" property="isHot" />
    <result column="is_new" jdbcType="BIT" property="isNew" />
    <result column="shipping_fee" jdbcType="DECIMAL" property="shippingFee" />
    <result column="is_free_shipping" jdbcType="BIT" property="isFreeShipping" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="credit_to_give" jdbcType="INTEGER" property="creditToGive" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="visit_count" jdbcType="INTEGER" property="visitCount" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  
  <resultMap id="PinProductAttributeDefinitionResultMap" type="PinProductAttributeDefinition">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="attr_name" jdbcType="VARCHAR" property="attributeName" />
    <result column="attr_values" jdbcType="VARCHAR" property="attributeValues" />
  </resultMap>
  
  <resultMap id="PinProductAttributeValueResultMap" type="PinProductAttributeValue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="changedAmount" jdbcType="DECIMAL" property="changedAmount" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
  </resultMap>

  <resultMap id="PinProductFromSameStoreResultMap" type="JSONObject">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="image_urls" jdbcType="VARCHAR" property="imageUrls"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="info" jdbcType="VARCHAR" property="info"/>
    <result column="sub_name" jdbcType="VARCHAR" property="childCategoryName"/>
    <result column="parent_name" jdbcType="VARCHAR" property="parentCategoryName"/>
  </resultMap>

  <!-- 获取Definition详情 -->
  <select id="getPinProductAttributeDefinitionsByProductId" parameterType="PinProductAttributeDefinition"
          resultMap="PinProductAttributeDefinitionResultMap">
    select * from pin_product_attribute_definition
    where product_id = #{productId}
  </select>

  <!-- 获取AttributeValue详情 -->
  <select id="getPinProductAttributeValuesByProductId" parameterType="PinProductAttributeDefinition"
          resultMap="PinProductAttributeDefinitionResultMap">
    select * from pin_product_attribute_definition
    where product_id = #{productId}
  </select>

  <!-- 根据商品ID 获取商品详情-->
  <select id="getProductById"  parameterType="Integer" resultMap="BaseResultMap">
    select * from pin_product where id = #{productId}
  </select>

  <!-- 根据店铺ID 获取该店铺的所有在售商品-->
  <select id="getProductByStoreId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from pin_product where store_id = #{storeId}
  </select>

  <select id="getProductByCategoryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from pin_product where category_id = #{categoryId}
  </select>

  <select id="getHotProducts" resultMap="BaseResultMap">
    select * from pin_product where is_hot = 1
  </select>

  <select id="getNewProducts" resultMap="BaseResultMap">
    select * from pin_product where is_new = 1
  </select>

  <select id="getProductFromSameStore" resultMap="PinProductFromSameStoreResultMap">
    select pin_product.id, image_urls, name, info, a1.category_name as sub_name, a2.category_name as parent_name
    from pin_product, pin_settings_product_category as a1, pin_settings_product_category as a2
    where pin_product.store_id = #{storeId}
    and a1.id = pin_product.category_id
    and a1.parent_category_id = a2.id
    order by pin_product.id
  </select>

  <select id="getProductIsShown" resultMap="BaseResultMap">
    select * from pin_product where is_shown = 1 and store_id = #{storeId}
  </select>

  <!-- 获取店铺库存预警商品个数-->
  <select id="getNumberOfProductLessStock" resultType="INTEGER">
    select count(*) as nums
    from pin_product
    where stock_count &lt;= 10
    and store_id = #{storeId}
  </select>
  
</mapper>