<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.shop.pin.mapper.PinSettingsProductCategoryMapper">
  <resultMap id="BaseResultMap" type="cn.edu.neu.shop.pin.model.PinSettingsProductCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_category_id" jdbcType="INTEGER" property="parentCategoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="is_activated" jdbcType="BIT" property="isActivated" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <!-- 获得所有一级商品种类 -->
  <select id="getAllParentProductCategory">
      select * from pin_settings_product_category where parent_category_id is NULL
  </select>

  <!-- 获得所有二级商品种类 -->
  <select id="getAllSubProductCategory">
    select * from pin_settings_product_category where parent_category_id is not NULL
  </select>

</mapper>