<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.shop.pin.mapper.PinStoreGroupCloseBatchMapper">
  <resultMap id="BaseResultMap" type="cn.edu.neu.shop.pin.model.PinStoreGroupCloseBatch">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="time" jdbcType="TIME" property="time" />
  </resultMap>

  <select id="getStoreGroupCloseBatchByStoreIdAndTimeDesc" parameterType="INTEGER" resultType="PinStoreGroupCloseBatch">
    select *
    from pin_store_group_close_batch
    where store_id = #{storeId}
    order by `time` DESC
  </select>

  <delete id="deleteStoreGroupCloseBatch">
    delete from pin_store_group_close_batch
    where store_id = #{storeId}
    and id = #{id}
  </delete>
</mapper>