<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.shop.pin.mapper.PinUserCreditRecordMapper">
  <resultMap id="BaseResultMap" type="cn.edu.neu.shop.pin.model.PinUserCreditRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="value_change" jdbcType="DECIMAL" property="valueChange" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="note" jdbcType="INTEGER" property="note" />
  </resultMap>

  <select id="getCheckInDaysNum" parameterType="Integer" resultType="Integer">
    select count(*) from pin_user_credit_record
    where `user_id` = #{userId} and `type` = 0
  </select>

  <select id="getCheckInDaysInfo" parameterType="Integer" resultMap="BaseResultMap">
    select * from pin_user_credit_record
    where `user_id` = #{userId} and `type` = 0
    order by create_time DESC
  </select>
</mapper>