<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.shop.pin.mapper.PinUserProductCommentMapper">
  <resultMap id="BaseResultMap" type="cn.edu.neu.shop.pin.model.PinUserProductComment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_individual_id" jdbcType="INTEGER" property="orderIndividualId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="grade" jdbcType="BIT" property="grade" />
    <result column="product_score" jdbcType="BIT" property="productScore" />
    <result column="service_score" jdbcType="BIT" property="serviceScore" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="merchant_comment_content" jdbcType="VARCHAR" property="merchantCommentContent" />
    <result column="merchant_comment_time" jdbcType="TIMESTAMP" property="merchantCommentTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="images_urls" jdbcType="LONGVARCHAR" property="imagesUrls" />
  </resultMap>

  <!-- 根据商品ID 获取该商品评论 -->
  <select id="getCommentByProductId" resultMap="BaseResultMap">
    select * from pin_user_product_comment where id = #{productId}
  </select>
</mapper>