<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.shop.pin.mapper.PinUserProductCollectionMapper">

<!-- written by: flyhero -->
  <resultMap id="BaseResultMap" type="PinUserProductCollection">
    <!--
      WARNING - @mbg.generated
    -->
      <id column="collection_id" jdbcType="INTEGER" property="id" />
      <result column="user_id" jdbcType="INTEGER" property="userId" />
      <result column="product_id" jdbcType="INTEGER" property="productId" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <association property="product" column="product_id" javaType="PinProduct" resultMap="productResult" />
  </resultMap>

  <resultMap id="productResult" type="PinProduct">
      <id column="product_id" property="id" />
      <result column="product_name" property="name" />
      <result column="image_urls" property="imageUrls" />
      <result column="changedAmount" property="changedAmount" />
      <association property="store" column="store_id" javaType="PinStore" resultMap="storeResult" />
  </resultMap>

  <resultMap id="storeResult" type="PinStore">
      <id column="store_id" property="id" />
      <result column="store_name" property="name" />
      <result column="logo_url" property="logoUrl" />
  </resultMap>

  <select id="getUserProductCollection" resultMap="BaseResultMap">
    select
      col.id            as collection_id,
      col.user_id       as user_id,
      col.product_id    as product_id,
      pro.name          as product_name,
      pro.image_urls    as image_urls,
      pro.changedAmount         as changedAmount,
      pro.store_id      as store_id,
      sto.name          as store_name,
      sto.logo_url      as logo_url,
      col.create_time   as create_time
    from
      pin_user_product_collection col
      left outer join pin_product pro on col.product_id = pro.id
      left outer join pin_store sto on pro.store_id = sto.id
    where
      col.user_id = #{userId}
  </select>

</mapper>